/*Global
--------*/

html {

    box-sizing: border-box;
  
}
  
*, *:before, *:after {

    box-sizing: inherit;

}

body {

    overflow: hidden;

}

a {

    text-decoration: none;

}

li {

    list-style: none;

}

.container {

    max-width: 1600px;

    margin: 0 auto;

}

/*Header
---------*/

.nav {

    background-color: #333333;

    opacity: .9;

    height: 60px;

}

.nav > .logo, .nav > .links {

    position: relative;

    display: flex;

    flex-direction: row;

}

.logo {

    left: 310px;
    
    top: 18.5px;

}

.links {

    margin: 0 0 0 358px;

    top: 9px;

    font-family: Arial, Helvetica, sans-serif;

    font-weight: 600;

    font-size: 10px;

}

.links > li {

    margin-left: 23px;

}

.links > li > a {

    color: white;

}

.work:link,
.services:link,
.ventures:link,
.about:link,
.contact:link,
.blog:link {

    color: white;

}

.work:visited,
.services:visited,
.ventures:visited,
.about:visited,
.contact:visited,
.blog:visited {

    color: gray;

}

.work:hover,
.services:hover,
.ventures:hover,
.about:hover,
.contact:hover,
.blog:hover {

    color: orangered;

}

.header {

    background-color: black;

}

/*Main
------*/

.hero {

    background: url(../images/bg-hero.jpg) no-repeat 50% 50%;

    background-size: cover;

    height: 615px;

}

.middle {

    background-color: black;

}

/*Footer
--------*/
.footer {

    background-color: black;

}