/*Global
--------*/

html {

    box-sizing: border-box;
  
}
  
*, *:before, *:after {

    box-sizing: inherit;

}

a {

    text-decoration: none;

}

.container {

    max-width: 1600px;

    margin: 0 auto;

}

/*Header
---------*/
.header {

    background-color: black;

}

/*Main
------*/

.hero {

    background: url(../images/bg-hero.jpg) no-repeat 50% 50%;

    background-size: cover;

    height: 615px;

}

.middle {

    background-color: black;

}

/*Footer
--------*/
.footer {

    background-color: black;

}