/*Global
--------*/

html {

    box-sizing: border-box;
  
}
  
*, *:before, *:after {

    box-sizing: inherit;

}

body {

    overflow: hidden;

}

a {

    text-decoration: none;

}

li {

    list-style: none;

}

.container {

    max-width: 1600px;

    margin: 0 auto;

}

/*Header
---------*/

.header {

    background-color: black;

}

.nav {

    background-color: #333333;

    opacity: .9;

    height: 60px;

}

.nav > .logo, .nav > .links {

    position: relative;

    display: flex;

    flex-direction: row;

}

.logo {

    left: 310px;
    
    top: 18.5px;

}

.links {

    margin: 0 0 0 358px;

    top: 9px;

    font-family: Arial, Helvetica, sans-serif;

    font-weight: 600;

    font-size: 10px;

}

.links > li {

    margin-left: 23px;

}

.links > li > a {

    color: white;

}

.work:link,
.services:link,
.ventures:link,
.about:link,
.contact:link,
.blog:link {

    color: white;

}

.work:visited,
.services:visited,
.ventures:visited,
.about:visited,
.contact:visited,
.blog:visited {

    color: gray;

}

.work:hover,
.services:hover,
.ventures:hover,
.about:hover,
.contact:hover,
.blog:hover {

    color: orangered;

}

.twitter-button {

    display: block;

    position: relative;

    height: 40px;

    width: 161px;

    left: 990px;

    bottom: 17px;

    font-family: Arial, Helvetica, sans-serif;

    font-weight: 600;

    font-size: 12px;

    color: #67d9da;

    background-color: #464646;

    text-align: center;

    padding-top: 10px;

    cursor: pointer;

}

.fa-twitter {

    font-size: 18px;

    padding: 0 5px 0 0;

}

.twitter-add {

    display: block;

    position: relative;

    height: 40px;

    width: 40px;

    left: 1151px;

    bottom: 56px;

    background-color: orangered;

    color: white;

    text-align: center;

    padding-top: 10px;

    cursor: pointer;

}

.hero-header {

    display: flex;

    position: relative;

    height: 103px;

    width: 244px;

    top: 115px;

    left: 330px;

    line-height: 55px;

    font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;

    font-size: 55px;

    font-weight: 900;

    color: #d90e0a;

}

.hero-paragraph {

    display: flex;

    position: relative;

    width: 332px;

    height: 52px;
    
    top: 115px;

    left: 330px;

    color: #9f9f9f;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

}

.hero-orange {

    color: #d80e0a;

    cursor: pointer;

}

/*Main
------*/

.hero {

    background: url(../images/bg-hero.jpg) no-repeat 50% 50%;

    background-size: cover;

    height: 615px;

}

.middle {

    background-color: black;

}

/*Footer
--------*/
.footer {

    background-color: black;

}